<header>{{localize "Pf2ePiety.Piety"}}</header>
<!-- Use Nav for PHASE 2
<nav class="actions-nav sub-nav" data-group="piety-tabs"> {{! FIXME: Piety Tabs must be added, and needs local classes.}}
    <a class="tab active" data-tab="piety-overview" data-group="piety-tabs">{{localize "Pf2ePiety.Overview"}}</a>
    <a class="tab" data-tab="piety-details" data-group="piety-tabs">{{localize "Pf2ePiety.Details"}}</a>
    <a class="tab" data-tab="piety-goals" data-group="piety-tabs">{{localize "Pf2ePiety.Goals"}}</a>
</nav>-->
<div class="piety-main">
    <div> {{! FIXME: Add current Deity's name or DeityMissing, then add deity icon. See detailItem at the end of this file.}}
        <h2 class="piety-score-heading">
            <span>{{localize "Pf2ePiety.Deity"}}</span>
        </h2>
        {{#if deity}}
            <h3 class="attribute deity-info">
                <span>{{deity.name}}</span>
                <div class="deity-emblem">
                    <img src="{{deity.img}}" alt="{{deity.name}}" />
                </div>
            </h3>
        {{else}}
            <h3>{{localize "Pf2ePiety.MissingDeity"}}</h3>
        {{/if}}
    </div>
    <div class="attribute">
        <h2 class="piety-score-heading">
            <span>{{localize "Pf2ePiety.PietyScore"}}</span>
        </h2>
        <div class="piety-score-modifier">
            <button type="button" data-action="piety-score-decrease">-</button>
            <h3 aria-label="Pf2ePiety.Piety">
                {{piety}}
            </h3>
            <button type="button" data-action="piety-score-increase">+</button>
        </div>
    </div>
</div>
{{! FIXME: Modify to use Piety data.}}
<div class="bio edicts" data-field="edicts" data-tooltip-direction="LEFT"> {{!FIXME: Add piety css, add pietyEdicts data-field}}
    <div class="label-add edict-anathema">
        <label
            class="details-label"
            {{#if biography.edicts}} {{! add piety.edicts}}
            for="{{document.uuid}}-edicts"{{/if}} {{!FIXME: Maybe change this?}}
        >{{localize "Pf2ePiety.Edicts"}}</label>
        <a
            data-action="add-piety-edict-anathema"
            data-tooltip="PF2E.Actor.Character.Biography.Edicts.Add"
        ><i class="fa-solid fa-plus"></i></a>
    </div>
    <ol>
        {{~#each edicts as |line index|~}}
            <li class="edict-anathema">
                <p>{{increment index}}.</p>
                <input
                    type="text"
                    {{#if (eq index 0)}}id="{{../document.uuid}}-edicts"{{/if}} {{!FIXME: Change}}
                    name="character.flags['pf2e-piety'].edicts.{{index}}" {{!FIXME: Change}}
                    value="{{line}}"
                />
                <a
                    data-action="delete-piety-edict-anathema"
                    data-tooltip="PF2E.Actor.Character.Biography.Edicts.Delete"
                    data-index="{{index}}"
                ><i class="fa-solid fa-trash"></i></a>
            </li>
        {{/each}}
    </ol>
</div>
{{! FIXME: Make same changes to anathema as edicts. }}
<div class="bio anathema" data-field="anathema" data-tooltip-direction="LEFT">
    <div class="label-add edict-anathema">
        <label
            class="details-label"
            {{#if biography.anathema}}
            for="{{document.uuid}}-anathema"{{/if}}
        >{{localize "Pf2ePiety.Anathema"}}</label>
        <a
            data-action="add-piety-edict-anathema"
            data-tooltip="PF2E.Actor.Character.Biography.Anathema.Add"
        ><i class="fa-solid fa-plus"></i></a>
    </div>
    <ol>
        {{~#each anathema as |line index|~}}
            <li class="edict-anathema">
                <p>{{increment index}}.</p>
                <input
                    type="text"
                    {{#if (eq index 0)}}id="{{../document.uuid}}-anathema"{{/if}}
                    name="character.flags['pf2e-piety'].anathema.{{index}}"
                    value="{{line}}"
                />
                <a
                    data-action="delete-piety-edict-anathema"
                    data-tooltip="PF2E.Actor.Character.Biography.Anathema.Delete"
                    data-index="{{index}}"
                ><i class="fa-solid fa-trash"></i></a>
            </li>
        {{/each}}
    </ol>
    {{! End of Edicts/Anathemas EDIT}}
    {{! Piety Thresholds }}
    <ol>
        <li>
            <p>{{localize "Pf2ePiety.Piety"}} {{threshold1}}</p>
        </li>
        <li>
            <p>{{localize "Pf2ePiety.Piety"}} {{threshold2}}</p>
        </li>
        <li>
            <p>{{localize "Pf2ePiety.Piety"}} {{threshold3}}</p>
        </li>
        <li>
            <p>{{localize "Pf2ePiety.Piety"}} {{threshold4}}</p>
        </li>
    </ol>
</div>

{{#*inline "detailItem"}}
   <h2 class="piety-score-heading">{{localize "Pf2ePiety.Deity"}}</h2>
    <h3>
        <span class="value">{{deity.name}}</span>
        {{#if showEmblem}}
            <div class="emblem">
                <img src="{{deity.img}}" alt="{{deity.name}}" />
            </div>
        {{/if}}
    </h3>
{{/inline}}