<header>{{localize "Pf2ePiety.Piety"}}</header>
<!-- Use Nav for PHASE 2
<nav class="actions-nav sub-nav" data-group="piety-tabs"> {{! FIXME: Piety Tabs must be added, and needs local classes.}}
    <a class="tab active" data-tab="piety-overview" data-group="piety-tabs">{{localize "Pf2ePiety.Overview"}}</a>
    <a class="tab" data-tab="piety-details" data-group="piety-tabs">{{localize "Pf2ePiety.Details"}}</a>
    <a class="tab" data-tab="piety-goals" data-group="piety-tabs">{{localize "Pf2ePiety.Goals"}}</a>
</nav>-->
<div class="piety-main">
    <div>
        <h2 class="piety-score-heading">
            <span>{{localize "Pf2ePiety.Deity"}}</span>
        </h2>
        {{#if deity}}
            <h3 class="attribute deity-info">
                <span>{{deity.name}}</span>
                <div class="deity-emblem">
                    <img src="{{deity.img}}" alt="{{deity.name}}" />
                </div>
            </h3>
        {{else}}
            <h3>{{localize "Pf2ePiety.MissingDeity"}}</h3>
        {{/if}}
    </div>
    <div class="attribute">
        <h2 class="piety-score-heading">
            <span>{{localize "Pf2ePiety.PietyScore"}}</span>
        </h2>
        <div class="piety-score-modifier">
            <button type="button" data-action="piety-score-decrease">-</button>
            <h3 aria-label="Pf2ePiety.Piety">
                {{piety.pietyScore}}
            </h3>
            <button type="button" data-action="piety-score-increase">+</button>
        </div>
    </div>
</div>
<!-- <div>{{{deity.system.description.value}}}</div> {{! Add to Details Tab for Phase 2. }}-->
{{! Edicts and Anathema}}
<div class="bio edicts" data-field="edicts" data-tooltip-direction="LEFT">
    <div class="label-add edict-anathema">
        <label
            class="details-label"
            {{#if piety.edicts}}
            for="{{document.uuid}}-piety-edicts"{{/if}}
        >{{localize "Pf2ePiety.Edicts"}}</label>
        <a
            data-action="add-piety-edict-anathema"
            data-tooltip="PF2E.Actor.Character.Biography.Edicts.Add"
        ><i class="fa-solid fa-plus"></i></a>
    </div>
    <ol class="edict-anathema">
        {{~#each piety.edicts as |line index|~}}
            <li>
                <p>{{increment index}}.</p>
                <input
                    type="text"
                    {{#if (eq index 0)}}id="{{../document.uuid}}-edicts"{{/if}} {{!FIXME: Change}}
                    name="character.flags['pf2e-piety'].edicts.{{index}}"
                    value="{{line}}"
                />
                <a
                    data-action="delete-piety-edict-anathema"
                    data-tooltip="PF2E.Actor.Character.Biography.Edicts.Delete"
                    data-index="{{index}}"
                ><i class="fa-solid fa-trash"></i></a>
            </li>
        {{/each}}
    </ol>
</div>
<div class="bio anathema" data-field="anathema" data-tooltip-direction="LEFT">
    <div class="label-add edict-anathema">
        <label
            class="details-label"
            {{#if biography.anathema}}
            for="{{document.uuid}}-piety-anathema"{{/if}}
        >{{localize "Pf2ePiety.Anathema"}}</label>
        <a
            data-action="add-piety-edict-anathema"
            data-tooltip="PF2E.Actor.Character.Biography.Anathema.Add"
        ><i class="fa-solid fa-plus"></i></a>
    </div>
    <ol class="edict-anathema">
        {{~#each anathema as |line index|~}}
            <li>
                <p>{{increment index}}.</p>
                <input
                    type="text"
                    {{#if (eq index 0)}}id="{{../document.uuid}}-anathema"{{/if}}
                    name="character.flags['pf2e-piety'].anathema.{{index}}"
                    value="{{line}}"
                />
                <a
                    data-action="delete-piety-edict-anathema"
                    data-tooltip="PF2E.Actor.Character.Biography.Anathema.Delete"
                    data-index="{{index}}"
                ><i class="fa-solid fa-trash"></i></a>
            </li>
        {{/each}}
    </ol>
 </div>
{{! Piety Thresholds }}
<h2 class="piety-score-heading">{{localize "Pf2ePiety.Boons"}}</h2>
<ol class="thresholds">
    {{> boonSlot field="boon1" threshold=threshold1 boon=boon1}}
    {{> boonSlot field="boon2" threshold=threshold2 boon=boon2}}
    {{> boonSlot field="boon3" threshold=threshold3 boon=boon3}}
    {{> boonSlot field="boon4" threshold=threshold4 boon=boon4}}
</ol>

{{! Piety Boon Slot Partial }}
{{#*inline "boonSlot"}}
<li data-field={{field}}>
    <label class="details-label">{{localize "Pf2ePiety.Piety"}} {{threshold}}</label>
    {{#if boon}}
        <p>{{boon.name}}</p>
        <span>
            <a
            data-action="boon-edit"
            data-tooltip="Pf2ePiety.BoonEdit"
            ><i class="fa-solid fa-edit"></i></a>
            <a
                data-action="boon-delete"
                data-tooltip="Pf2ePiety.BoonDelete"
            ><i class="fa-solid fa-trash"></i></a>
        </span>
    {{else}}
        <p>{{localize "Pf2ePiety.BoonHint"}}</p>
    {{/if}}
</li>
{{/inline}}