<header>{{localize "Pf2ePiety.Piety"}}</header>
<!-- Use Nav for PHASE 2
<nav class="actions-nav sub-nav" data-group="piety-tabs"> {{! FIXME: Piety Tabs must be added, and needs local classes.}}
    <a class="tab active" data-tab="piety-overview" data-group="piety-tabs">{{localize "Pf2ePiety.Overview"}}</a>
    <a class="tab" data-tab="piety-details" data-group="piety-tabs">{{localize "Pf2ePiety.Details"}}</a>
    <a class="tab" data-tab="piety-goals" data-group="piety-tabs">{{localize "Pf2ePiety.Goals"}}</a>
</nav>-->
<div class="piety-main"> {{! FIXME: module CSS not connected.}}
    <div class="detail deity{{#if deity}} selected{{/if}}">
        {{> detailItem item=deity type="deity" compendium="pf2e.deities" showEmblem=deity}} {{! See inline "detailItem" at the end of the file.}}
    </div>
    <div>
        <h2>{{localize "Pf2ePiety.Piety"}}</h2>
        <h3>{{piety}}</h3>
    </div>
</div>
{{! FIXME: Modify to use Piety data.}}
<div class="bio edicts" data-field="pietyEdicts" data-tooltip-direction="LEFT"> {{!FIXME: Add piety css, add pietyEdicts data-field}}
    <div class="label-add">
        <label
            class="details-label"{{#if biography.edicts}} {{! add piety.edicts}}
            for="{{document.uuid}}-edicts"{{/if}} {{!FIXME: Maybe change this?}}
        >{{localize "Pf2ePiety.Edicts"}}</label>
        <a
            data-action="add-piety-edict-anathema" {{!FIXME: Make new data-action}}
            data-tooltip="PF2E.Actor.Character.Biography.Edicts.Add" {{!FIXME: Make new tooltip}}
        ><i class="fa-solid fa-plus"></i></a>
    </div>
    <ol>
        {{~#each biography.edicts as |line index|~}} {{!FIXME: change to piety.edicts}}
            <li>
                <input
                    type="text"
                    {{#if (eq index 0)}}id="{{../document.uuid}}-edicts"{{/if}} {{!FIXME: Change}}
                    name="system.details.biography.edicts.{{index}}" {{!FIXME: Change}}
                    value="{{line}}"
                />
                <a
                    data-action="delete-piety-edict-anathema" {{! FIXME: Add data-action}}
                    data-tooltip="PF2E.Actor.Character.Biography.Edicts.Delete" {{! FIXME: Add tooltip}}
                    data-index="{{index}}"
                ><i class="fa-solid fa-trash"></i></a>
            </li>
        {{/each}}
    </ol>
</div>
{{! FIXME: Make same changes to anathema as edicts. }}
<div class="bio anathema" data-field="anathema" data-tooltip-direction="LEFT">
    <div class="label-add">
        <label
            class="details-label"
            {{#if biography.anathema}}for="{{document.uuid}}-anathema"{{/if}}
        >{{localize "Pf2ePiety.Anathema"}}</label>
        <a
            data-action="add-piety-edict-anathema"
            data-tooltip="PF2E.Actor.Character.Biography.Anathema.Add"
        ><i class="fa-solid fa-plus"></i></a>
    </div>
    <ol>
        {{~#each biography.anathema as |line index|~}}
            <li>
                <input
                    type="text"
                    {{#if (eq index 0)}}id="{{../document.uuid}}-anathema"{{/if}}
                    name="system.details.biography.anathema.{{index}}"
                    value="{{line}}"
                />
                <a
                    data-action="delete-piety-edict-anathema"
                    data-tooltip="PF2E.Actor.Character.Biography.Anathema.Delete"
                    data-index="{{index}}"
                ><i class="fa-solid fa-trash"></i></a>
            </li>
        {{/each}}
    </ol>
    {{! End of Edicts/Anathemas EDIT}}
    {{! Piety Thresholds }}
    <ol>
        <li>
            <p>{{localize "Pf2ePiety.Piety"}} {{threshold1}}</p>
        </li>
        <li>
            <p>{{localize "Pf2ePiety.Piety"}} {{threshold2}}</p>
        </li>
        <li>
            <p>{{localize "Pf2ePiety.Piety"}} {{threshold3}}</p>
        </li>
        <li>
            <p>{{localize "Pf2ePiety.Piety"}} {{threshold4}}</p>
        </li>
    </ol>
</div>

{{#*inline "detailItem"}}
    <span class="details-label">{{localize (concat "TYPES.Item." type)}}</span>
    <h3>
        <span class="value">{{item.name}}</span>
        {{#if @root.editable}}
            {{#if item}}
                <span class="detail-item-control" data-item-id="{{item.id}}"><i class="fa-solid fa-fw fa-ellipsis-v"></i></span>
            {{else}}
                <a data-action="open-compendium" data-compendium={{compendium}}><i class="fa-solid fa-fw fa-search"></i></a>
            {{/if}}
        {{/if}}
        {{#if showEmblem}}
            <div class="emblem">
                <img src="{{item.img}}" alt="{{item.name}}" />
            </div>
        {{/if}}
    </h3>
{{/inline}}