<header>{{localize "Pf2ePiety.Piety"}}</header>
<nav class="actions-nav sub-nav" data-group="piety-tabs"> {{! FIXME: Piety Tabs must be added, and needs local classes.}}
    <a class="tab active" data-tab="piety-overview" data-group="piety-tabs">{{localize "Pf2ePiety.Overview"}}</a>
    <a class="tab" data-tab="piety-details" data-group="piety-tabs">{{localize "Pf2ePiety.Details"}}</a>
    <a class="tab" data-tab="piety-goals" data-group="piety-tabs">{{localize "Pf2ePiety.Goals"}}</a>
</nav>
<div class="detail deity{{#if deity}} selected{{/if}}">
    {{> detailItem item=deity type="deity" compendium="pf2e.deities" showEmblem=deity}}
</div>
{{! FIXME: Modify to use Piety data.}}
<div class="bio edicts" data-field="pietyEdicts" data-tooltip-direction="LEFT"> {{!FIXME: Add piety css, add pietyEdicts data-field}}
    <div class="label-add">
        <label
            class="details-label"{{#if biography.edicts}} {{! add piety.edicts}}
            for="{{document.uuid}}-edicts"{{/if}} {{!FIXME: Maybe change this?}}
        >{{localize "Pf2ePiety.Edicts"}}</label>
        <a
            data-action="add-piety-edict-anathema" {{!FIXME: Make new data-action}}
            data-tooltip="PF2E.Actor.Character.Biography.Edicts.Add" {{!FIXME: Make new tooltip}}
        ><i class="fa-solid fa-plus"></i></a>
    </div>
    <ol>
        {{~#each biography.edicts as |line index|~}} {{!FIXME: change to piety.edicts}}
            <li>
                <input
                    type="text"
                    {{#if (eq index 0)}}id="{{../document.uuid}}-edicts"{{/if}} {{!FIXME: Change}}
                    name="system.details.biography.edicts.{{index}}" {{!FIXME: Change}}
                    value="{{line}}"
                />
                <a
                    data-action="delete-piety-edict-anathema" {{! FIXME: Add data-action}}
                    data-tooltip="PF2E.Actor.Character.Biography.Edicts.Delete" {{! FIXME: Add tooltip}}
                    data-index="{{index}}"
                ><i class="fa-solid fa-trash"></i></a>
            </li>
        {{/each}}
    </ol>
</div>
{{! FIXME: Make same changes to anathema as edicts. }}
<div class="bio anathema" data-field="anathema" data-tooltip-direction="LEFT">
    <div class="label-add">
        <label
            class="details-label"
            {{#if biography.anathema}}for="{{document.uuid}}-anathema"{{/if}}
        >{{localize "PF2E.BiographyAnathema"}}</label>
        <a
            data-action="add-piety-edict-anathema"
            data-tooltip="PF2E.Actor.Character.Biography.Anathema.Add"
        ><i class="fa-solid fa-plus"></i></a>
    </div>
    <ol>
        {{~#each biography.anathema as |line index|~}}
            <li>
                <input
                    type="text"
                    {{#if (eq index 0)}}id="{{../document.uuid}}-anathema"{{/if}}
                    name="system.details.biography.anathema.{{index}}"
                    value="{{line}}"
                />
                <a
                    data-action="delete-piety-edict-anathema"
                    data-tooltip="PF2E.Actor.Character.Biography.Anathema.Delete"
                    data-index="{{index}}"
                ><i class="fa-solid fa-trash"></i></a>
            </li>
        {{/each}}
    </ol>
</div>
{{! End of Edicts/Anathemas EDIT}}
